.track--item {
  display: flex;
  position: relative;
  padding: 8px 10px;
  max-width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
}
.track {
  display: flex;
  align-items: center;
}
.track--item:hover {
  margin-left: 20px;
  border: 1px #F6CB52 solid;
}
.tracklogo {
  border-radius: 5px;
}
.trackinfo {
  margin-top: 0;
  margin-left: 13px;
}
.trackinfo h4 {
  font-size: 15px;
  line-height: 15px;
  color: #151515;
  font-weight: 500;
}
.trackinfo p {
  margin-top: 7px;
  font-size: 14px;
  line-height: 14px;
  color: #808080;
}
.track--duration {
  min-width: 44px;
  font-size: 14px;
  color: #808080;
  text-align: center;
}

